<!DOCTYPE html>
{{ template "style.tmpl" }}

<head>
  <meta charset="UTF-8">
  <title>{{ .SiteTitle }}</title>
</head>

<body>
  <textarea>
  <a href= {{ .HomePageLink }} > {{ .HomePageTitle }} </a>

  {{ .Content }}
  <br>
  <p>&nbsp;</p>
  <a href= {{ .HomePageLink }} > {{ .HomePageTitle }} </a>
  </textarea>
    </hr>
    {{ .FootPrint }}
</body>

</html>
