<!DOCTYPE html>
{{ template "style.tmpl" }}

<head>
  <meta charset="UTF-8">
  <title>{{ .SiteTitle }}</title>
</head>

<body>
  <textarea>
    <div style="float:left;">
      <a href= {{ .HomePageLink }} > {{ .HomePageTitle }} </a>
    </div>
    <div style="float:right;width:40%;">
      <form action="/query" method="POST">
        <div>
          <input name="search" id="search">
          <button>Search</button>
        </div>
      </form>
    </div>
    <br>
    <br>
    <hr>

  \begin{md}
  {{ .Content }}
  \end{md}

  <p>&nbsp;</p>
  <a href= {{ .HomePageLink }} > {{ .HomePageTitle }} </a>
  </textarea>
    {{ .FootPrint }}
</body>

</html>
