<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .SiteTitle }}</title>
  {{ template "style.tmpl" }}
  <script>window.texme = { style: 'none', markdownURL: '/lib/marked/marked.min.js', MathJaxURL: '/lib/mathjax/es5/tex-mml-chtml.js' }</script>
  <script src="/lib/texme/texme.min.js"></script>
</head>
<body>
  <header class="site-header">
    <div class="header-row">
      <nav class="site-nav">
        <a href="{{ .HomePageLink }}">← {{ .HomePageTitle }}</a>
      </nav>
    </div>
  </header>

  <textarea style="display:none">
  \begin{md}
  {{ .Content }}
  \end{md}
  </textarea>
</body>
</html>
