<!DOCTYPE html>
{{ template "style.tmpl" }}

<head>
  <meta charset="UTF-8">
  <title>{{ .SiteTitle }}</title>
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
  <div>{{ range .SiteLinks }}<a href="{{ .Url }}">{{ .Title }} </a>{{ end }}</div>
  <hr>
  <form action="./query" method="POST">
    <div>
      <input name="search" id="search">
      <button>搜索/Search</button>
    </div>
  </form>
  <hr>
  {{ .Content }}
  <hr>
  {{ .FootPrint }}
</body>

</html>
