<!DOCTYPE html>
{{ template "style.tmpl" }}

<head>
  <meta charset="UTF-8">
  <title>Query Result</title>
</head>

<body>

  <a href= {{ .HomePageLink }} > {{ .HomePageTitle }} </a>

  <div>
    the keyword was found in the following files:
  </div>
  <hr>

  {{ .Content }}

  <hr>
  {{ .FootPrint }}

</body>

</html>
