<!DOCTYPE html>
{{ template "style.tmpl" }}

<head>
  <meta charset="UTF-8">
  <title>Query Result</title>
</head>

<body>
  <div style="float:left">
    <a href= {{ .HomePageLink }} > {{ .HomePageTitle }} </a>
  </div>
  <div style="float:right; width:%40;">
    <form action="./query" method="POST">
      <div>
        <input name="search" id="search">
        <button>重新搜索/Research</button>
      </div>
    </form>
  </div>
  <br>
  <br>
  <hr>

  {{ .Content }}

  <hr>
  {{ .FootPrint }}

</body>

</html>
