<!DOCTYPE html>
{{ template "style.tmpl" }}

<head>
  <meta charset="UTF-8">
  <title>Query Result</title>
</head>

<body>

  <a href= {{ .HomePageLink }} > {{ .HomePageTitle }} </a>

  <hr>
  <form action="./query" method="POST">
    <div>
      <input name="search" id="search">
      <button>重新搜索/Research</button>
    </div>
  </form>
  <hr>

  {{ .Content }}

  <hr>
  {{ .FootPrint }}

</body>

</html>
