<!--
                  .........              ...mm*****=m..
              ..xm**""""""""**mmuueWWWu.um""`         `"*mu
            um""                $$$$$$$$`                 "*u.
          .@"                   $$$$$$$$                    `*u
         .$`                    `*$$$$**mu..ueeu.             *x
        .$`              ....      ``    "I$$$$$$u             $
        !!             :W$$$$$e           $$$$$$$$             ?X
        `$              "****""           "$$$$$$$e.      .    ~$-
        m*U                                 """"  "*e.    TWe.  "W
         e$x                                        `T@- u$$$$e  *:
         ""*u.                                      e"  e$$$$$$U `$
            "*mu..                                 :*  x$$$$$$$$  "x
               """*mme....                         !! u$$$$$$$$$!  $
                     ``""""**m..                   $`:$$$$$$$$$$!  $!
                              "*@.              ...$ U$$$$$$$$$$!  $~
                                 W        ..um****** *$$$$$$$$$$!  $
                                 $Weeu..x@""`     !!  $$$$$$$$$*  xT
                                 $**$$$$$!        `*u `*$$$$$$*  :$
                       ...m*u..e"?xmx`"*$!          "*x. """""  u@"
                    ...$""W `$"U=" .@m: !!            `"***mmm=""
                   -$``*  " :S.$   `-"?:U!
                    $u      ~$""    .u` $!
                   .$"*W.    "@.m***""  ~$
                   "u  `"e.   `"         *
                  .m"*m**""e       .m    ~U
                .e"        "@. ..m*"      $:
                X"           "@""         ~$
               :*                         .$
        eem**. !!                         W!
        $`   "*W!                        u$!
        $      ?!                       x$$
        $      !X                      .$$$
        $       $                      `*$~
        $       `@.                     x?
        $         `                    .$
        $                             .@*@u
        $                            x*W  *u
        $      e.                  .u" "W  "@u
        *:     "*u.            ..m*"`   "W   "@.
    ...m****mmmmmW$e.....   .u@T"        "mu.m@**
  u*""`          ````""""***"` "m.         ``
:$"  x*` ..                      "*m.
!$  u"  .$                          $
`**********************************""
-->

<script>window.texme = {
    style: 'none',
    markdownURL: '/lib/marked/marked.min.js',
    MathJaxURL: '/lib/mathjax/es5/tex-mml-chtml.js'
}
</script>
<script src="/lib/texme/texme.min.js"></script>

<style>
  @media screen and (min-width: 40em) {
      body {
	  //background-color: #696969;
	  background-color: #F5F5F5; // WhiteSmoke Color
      }
      main {
	  padding: 2em 5em;
	  margin: 1em auto;
	  box-shadow: 0.4em 0.4em 0.4em #222;
	  max-width: 50em;
	  background-color: #ffffff;
      }
      h1, h2, h3, h4, h5, h6, h7 {
	  margin: 1em 0 0.5em 0;
	  line-height: 1.2;
      }
      img {
	  max-width: 100%;
      }
      pre, code, samp, kbd {
	  color: #000;
	  // font-family: monospace,monospace;
	  // font-family: Courier, Courier;
	  // font-family: Monaco, Monaco;
	  // font-family: Andale Mono;
	  // font-family: Lucida Console;
	  font-family: Consolas, Consolas;
      }
      pre, blockquote {
	  background: #f5f5f5;
	  padding: 0.5em;
      }
      pre {
	  overflow: auto;
      }
      blockquote {
	  border-left: medium solid #ccc;
	  margin: 1em 0;
      }
      blockquote :first-child {
	  margin-top: 0;
      }
      blockquote :last-child {
	  margin-bottom: 0;
      }
      table {
	  border-collapse: collapse;
      }
      th, td {
	  border: thin solid #999;
	  padding: 0.3em 0.4em;
	  text-align: left;
      }}
}
</style>

